.main-page-button
{
	-fx-font-family: FontAwesome;
	-fx-alignment: center_left;
	-fx-font-size: 2.5em;
	/*-fx-border-width: 0.0;
	-fx-background-color: white;*/
}

/*.main-page-button:hover
{
	-fx-background-color: #8DA0DC;
}

.main-page-button:armed
{
	-fx-background-color: #5677E1;
}*/

.main-background-panel
{
	-fx-background-color: #918787;
}

/**
 * Top Bar
 */

.main-bar-button
{
	-fx-font-family: FontAwesome;
	-fx-font-size: 1.5em;
}

.main-bar-label
{
	-fx-font-family: FontAwesome;
	-fx-font-size: 1.5em;
}

/**
 * Bottom Bar Procedure Plan
 */

.bottom-bar-button
{
	-fx-font-family: FontAwesome;
	-fx-font-size: 1.5em;	
}

/* 
 * Settings
 */

.settings-background
{
	-fx-background-color: white;
}

/*
 * General
 */
 
 .tooltip
 {
 	-fx-font-size: 1em;
 }